<h2 mat-dialog-title>{{ isNewItem ? 'Novo Item' : 'Editar Item / Excluir' }}</h2>
<mat-form-field>
    <input matInput [(ngModel)]="itemName" placeholder="Nome">
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="itemAmount" type="number" placeholder="Quantidade">
</mat-form-field>
<mat-form-field>
    <mat-label>Descrição</mat-label>
    <textarea matInput [(ngModel)]="itemDescription" placeholder="Descrição"></textarea>
</mat-form-field>

<mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onSave()">Salvar</button>
    <button mat-button *ngIf="isNewItem" (click)="onCancel()">Cancelar</button>
    <button mat-button *ngIf="!isNewItem" (click)="onDelete()">Excluir</button>
</mat-dialog-actions>

